.about {
  padding: 20px 100px;
  
  &-banner {
    height: 223px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 25px;
    }
  }
  
  &__collapses {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  @media (max-width: 1024px) {
    padding: 20px 50px;

    &-banner {
      height: 200px;
      margin-bottom: 25px;
    }

    &__collapses {
      max-width: 90%;
    }
  }

  
  @media (max-width: 768px) {
    padding: 20px;

    &-banner {
      height: 111px;
      margin-bottom: 20px;
    }

    &__collapses {
      max-width: 100%;
      gap: 20px;

      .collapse {
        width: 100%;
      }
    }
  }
}