.banner {
  position: relative;
  height: 170px;
  border-radius: 25px;
  background: url("../images/banner.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 100px;
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    z-index: 1;
    position: relative;
  }

  // Tablette
  @media (min-width: 768px) and (max-width: 1024px) {
    margin: 20px 50px;
    height: 150px;

    h1 {
      font-size: 36px;
      padding: 0 20px;
    }
  }

  // Mobile
  @media (max-width: 767px) {
    margin: 20px;
    height: 111px;

    h1 {
      font-size: 24px;
      text-align: left;
      padding: 0 16px;
      max-width: 220px;
    }
  }
}