.banner {
  position: relative;
  height: 170px;
  border-radius: 25px;
  background: url("../images/banner.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 100px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5); // Assombrissement de l'image
  }

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    z-index: 1;
    position: relative;
  }
}
