.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

footer {
  background-color: #000000;
  text-align: center;
  padding: 30px;
  margin-top: auto; 
}

p {
  color: white;
  margin: 25px;
}

.footer-logo {
  height: auto;
  width: auto;
}

@media (max-width: 1024px) {
  footer {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 15px;
  }

  p {
    font-size: 14px;
  }

  .footer-logo {
    width: 100px;
  }
}
