header {
    padding: 20px;
   display: flex;
   justify-content: center;

    nav {
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        a {
            text-decoration: none;
            color: #000000;
            &:hover {
                color: aqua;
            }
        }
        
    }
}