header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;

  .logo-kasa {
    width: 150px;
    height: auto;

    @media (max-width: 1024px) {
      width: 140px;
    }

    @media (max-width: 768px) {
      width: 100px;  // Logo plus petit en mobile
    }
  }

  nav {
    display: flex;
    gap: 50px;

    a {
      text-decoration: none;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;

      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 768px) {
        font-size: 12px;  // Taille plus petite
        text-transform: uppercase;  // Texte en majuscules
        font-weight: 500;  // Police un peu plus épaisse
      }
    }

    @media (max-width: 1024px) {
      gap: 40px;
    }

    @media (max-width: 768px) {
      gap: 10px;  // Réduction plus importante de l'espacement en mobile
    }
  }

  @media (max-width: 1024px) {
    padding: 20px 60px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }
}