@import 'components/Banner';
@import 'components/Card';

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 50px;
    justify-content: center;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    main {
        flex: 1;
        margin-bottom: 20px;
    }
}